body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    cursor: pointer;
  }
  
  .App {
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  form {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  input[type="text"] {
    padding: 8px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  button {
    /* background-color: #dc3545; */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .tasklist-div{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 8px;
  }

  .assignto_div{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    width: 200px;
  }

  .input-task{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 8px;
  }

  .input-task:focus{
    outline: none;
  }


  .tas-app-div-main{
    padding-left: 100px;
    padding-right: 100px;
  }

  @media screen and (max-width: 600px){
    .tas-app-div-main{
        padding-left: 10px;
        padding-right: 10px;
      }
  }

  .add-task{
    background-color: #008000ad;
  }

  .add-task:hover{
    background-color: green;
  }

  .edit-button:hover{
    background-color: blue;
  }

  .delet-button{
    background-color:#ff0000a3
  }
  .delet-button:hover{
    background-color: red;
  }